@import '../../global.css';

.footer {
  background: var(--primary-color);
  padding: 40px 0;
}

.container {
  display: flex;
  padding: 0 20px;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}

.column {
  padding: 20px 20px;
}

.column h3 {
  font-size: 2rem;
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--elements-color);
  font-size: clamp(2rem, 1vw, 3rem);
}

.column ul {
  list-style: none;
  padding: 0;
  font-size: clamp(1rem, 1vw, 1.1rem);
}

.column ul li {
  margin: 25px 0;
}

.column a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: clamp(1rem, 1vw, 1.1rem);
}

.column a:hover {
  color: var(--elements-hover-color);
}

.footerBottom {
  text-align: center;
  padding: 20px 0;
  background: var(--transparent-element-color);
  font-size: 1.3rem;
}

.footerBottom p {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .footer {
    transform: translateY(-50px);
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 90%;
  }

  .column {
    display: none;
  }

  .footerBottom {
    transform: translateY(200px);
  }
}
