@import '../../global.css';

.footer {
  background: var(--primary-color);
  padding: 40px 0;
}

.container {
  display: flex;
  padding: 0 20px;
  max-width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}

.column {
  padding: 20px 20px;
}

.column h3 {
  font-size: 2rem;
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--elements-color);
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin: 25px 0;
  font-size: 1.1rem;
}

.column a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.column a:hover {
  color: var(--elements-hover-color);
}

.footerBottom {
  text-align: center;
  padding: 20px 0;
  background: var(--transparent-element-color);
  font-size: 1.3rem;
}

.footerBottom p {
  margin: 0;
}
